*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo.jpg");
    
    background-repeat: no-repeat;
    
    }
    
    .Fondotecnologia{
    
        background-image: url("rxmm.jpg");
        
        background-repeat: no-repeat;
        
        }
    
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
        
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagensociales{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("medellin.jpeg");
        
        }
        
        
        
        .textosociales{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }
        
        